# PostgreSQL Database Connection URL
DATABASE_URL=postgresql://user:password@host:port/database

# Server Port
PORT=5001

# JSON Web Token Secret
JWT_SECRET=your_jwt_secret_here

# Frontend Client URL (used to configure CORS)
FRONTEND_URL=http://localhost:5173

# API URL
VITE_API_URL=http://localhost:5001/api

# AWS S3 Configuration (Optional: Fallback to local storage if not provided)
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=your_s3_bucket_name